:host ::ng-deep .p-multiselect {
    min-width: 100%;
    max-height: 35px;
    font-size: 90%;
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    background: #faf9f8;
    min-width: 100%;
    max-height: 35px;
    font-size: 90%;
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    max-height: 25px;
    font-size: 90%;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
    min-width: 20rem;
    max-height: 25px;
    font-size: 90%;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1px;
    max-height: 45px;
}